##### I'm learning new things everyday...

##### 9/28/17

Finally learnt what it means to [stack](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.stack.html#pandas.DataFrame.stack) and [unstack](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.unstack.html) pandas data frames. I had missing data I needed to deal with, and [someone on StackOverflow had the same question](https://stackoverflow.com/questions/35181761/filling-in-missing-data-in-pandas-dataframe). Although they chose to go a different route, I went with the original suggestion since I'd been meaning to learn stack/unstack anyway.

In [7]:
import pandas as pd
import numpy as np
#toy data - the original was from csv
d = {'id': ['a', 'b', 'c', 'a', 'c', 'a', 'b', 'b', 'c', 'a', 'c', 'a', 'b'], 
        'sampling time': [100, 100, 100, 350, 350, 820, 820, 100, 100, 350, 350, 820, 820], 
        'event': ['evt1', 'evt1', 'evt1', 'evt1', 'evt1', 'evt1', 'evt1', 
                  'evt2', 'evt2', 'evt2', 'evt2', 'evt2', 'evt2'], 
        'frequency': np.random.rand(13)}
df = pd.DataFrame(d)
df

   event  frequency id  sampling time
0   evt1   0.598636  a            100
1   evt1   0.078531  b            100
2   evt1   0.705988  c            100
3   evt1   0.703154  a            350
4   evt1   0.697579  c            350
5   evt1   0.581589  a            820
6   evt1   0.486365  b            820
7   evt2   0.814830  b            100
8   evt2   0.311923  c            100
9   evt2   0.691568  a            350
10  evt2   0.491556  c            350
11  evt2   0.707937  a            820
12  evt2   0.417033  b            820

In [8]:
pvt_df = df.pivot_table(index=['id', 'sampling time'], columns='event', values='frequency')
pvt_df

event                 evt1      evt2
id sampling time
a  100            0.598636       NaN
   350            0.703154  0.691568
   820            0.581589  0.707937
b  100            0.078531  0.814830
   820            0.486365  0.417033
c  100            0.705988  0.311923
   350            0.697579  0.491556

In [9]:
# unstack() converts the indexes to columns, and imputes(?) missing values
pvt_df.unstack(level='sampling time')

event              evt1                          evt2
sampling time       100       350       820       100       350       820
id
a              0.598636  0.703154  0.581589       NaN  0.691568  0.707937
b              0.078531       NaN  0.486365  0.814830       NaN  0.417033
c              0.705988  0.697579       NaN  0.311923  0.491556       NaN

In [10]:
# after filling in missing values with 0, stack() "stacks" the columns back as indexes.
pvt_df.unstack(level='sampling time', fill_value=0).stack(level='sampling time')

event                 evt1      evt2
id sampling time
a  100            0.598636       NaN
   350            0.703154  0.691568
   820            0.581589  0.707937
b  100            0.078531  0.814830
   350            0.000000  0.000000
   820            0.486365  0.417033
c  100            0.705988  0.311923
   350            0.697579  0.491556
   820            0.000000  0.000000

In [11]:
# if fill_value=None, which is the default, stack() will just get you the same df back, as if unstack() never happened.
pvt_df.unstack(level='sampling time').stack(level='sampling time')

event                 evt1      evt2
id sampling time
a  100            0.598636       NaN
   350            0.703154  0.691568
   820            0.581589  0.707937
b  100            0.078531  0.814830
   820            0.486365  0.417033
c  100            0.705988  0.311923
   350            0.697579  0.491556